# This is a basic Logstash configuration file for receiving data from Beats.
#
# It listens on port 5044 for incoming Beats connections and sends the
# received data to the Elasticsearch cluster.
#

input {
  beats {
    port => 5044
  }
}

# The filter part of this file is commented out to keep it simple.
# You can add filters to parse and enrich your data.
#
# filter {
#   if [service][type] == "system" {
#     if [fileset][name] == "auth" {
#       grok {
#         match => { "message" => ["%{SYSLOGTIMESTAMP:[system][auth][timestamp]} %{SYSLOGHOST:[system][auth][hostname]} sshd(?:\[%{POSINT:[system][auth][pid]}\])?: %{GREEDYDATA:[system][auth][ssh][message]}"] }
#         pattern_definitions => {
#           "GREEDYDATA" => ".*"
#         }
#         add_field => { "received_at" => "%{@timestamp}" }
#         add_field => { "received_from" => "%{host}" }
#       }
#     }
#   }
# }

output {
  elasticsearch {
    hosts => ["http://localhost:9200"]
    index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
    #user => "elastic"
    #password => "changeme"
  }
}
